body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  padding: 20px;
  text-align: center;
  background-image: url(src/A4\ -\ 9\ \(1\).png);
  background-size: 450px;
}

h1 {
  color: #f5f5f5;
  text-shadow: #333;
}

input[type="text"] {
  padding: 5px;
  text-shadow: #333;
  inline-size: 90%;
  border: 0.5px solid #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-block-end: 10px;
  background-color: #ffffff78;
  text-align: center;
  color: #000;

}

button {
  background-color: #652185;
  color: #fff;
  text-shadow: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4a1661;
  color: #fff;
  text-shadow: #333;
}

#result {
  text-shadow: #ffffff;
  margin-block-start: 20px;
  margin-block-end: 100px;
  font-size: 18px;
  color:#333;
  -webkit-text-stroke: #ffffff;
  font-weight: bold;
  background-color:#ffffff78;
  padding: 20px 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.description {
  font-size: 12px;
  text-shadow: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
}
.create {
  font-size: 10px;
  text-shadow: #333;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
}
.Deadline {
  inline-size: 150px;
}
